pipeline/checkdatapipeline.json
{
	"name": "checkdatapipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup in table",
				"type": "Lookup",
				"state": "Active",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TOP 1 COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME ='@{pipeline().parameters.tablename}' AND TABLE_SCHEMA = 'dbo' AND COLUMN_NAME  LIKE '%ID%' ;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DBfolder",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "UpsertColumn",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup in table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "column",
							"value": {
								"type": "Expression",
								"content": "@activity('Lookup in table').output.value[0].COLUMN_NAME"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string"
			}
		},
		"variables": {
			"ColumnName": {
				"type": "Array"
			},
			"Column": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-09T09:30:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}