pipeline/dmpipeline.json
{
	"name": "dmpipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AppendUcolumn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "InsertedAt",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@pipeline().parameters.file",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": {
								"value": "@variables('Ucolumn')",
								"type": "Expression"
							}
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_gwn",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@pipeline().parameters.file",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_gwn",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@replace(pipeline().parameters.file,'.csv','')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "checkdatapipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tablename": {
							"value": "@replace(pipeline().parameters.file,'.csv','')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AppendUcolumn",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ucolumn",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.column",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file": {
				"type": "string"
			}
		},
		"variables": {
			"Ucolumn": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-09T09:31:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}