pipeline/fetch data from APIpipeline_jsondestination.json
{
	"name": "fetch data from APIpipeline_jsondestination",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Links",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyFromAPI2BlobBronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"AbsoluteUrl": "$.info.next"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "arrayOfObjects"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"path": "id"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"path": "name"
											}
										},
										{
											"source": {
												"path": "['status']"
											},
											"sink": {
												"path": "status"
											}
										},
										{
											"source": {
												"path": "['species']"
											},
											"sink": {
												"path": "species"
											}
										},
										{
											"source": {
												"path": "['type']"
											},
											"sink": {
												"path": "type"
											}
										},
										{
											"source": {
												"path": "['gender']"
											},
											"sink": {
												"path": "gender"
											}
										},
										{
											"source": {
												"path": "['origin']['name']"
											},
											"sink": {
												"path": "origin_name"
											}
										},
										{
											"source": {
												"path": "['origin']['url']"
											},
											"sink": {
												"path": "origin_url"
											}
										},
										{
											"source": {
												"path": "['location']['name']"
											},
											"sink": {
												"path": "location_name"
											}
										},
										{
											"source": {
												"path": "['location']['url']"
											},
											"sink": {
												"path": "location_url"
											}
										},
										{
											"source": {
												"path": "['image']"
											},
											"sink": {
												"path": "image_url"
											}
										},
										{
											"source": {
												"path": "['dimension']"
											},
											"sink": {
												"path": "dimension"
											}
										},
										{
											"source": {
												"path": "['residents']"
											},
											"sink": {
												"path": "residents"
											}
										},
										{
											"source": {
												"path": "['episode']"
											},
											"sink": {
												"path": "episode"
											}
										},
										{
											"source": {
												"path": "['url']"
											},
											"sink": {
												"path": "url"
											}
										},
										{
											"source": {
												"path": "['created']"
											},
											"sink": {
												"path": "created"
											}
										}
									],
									"collectionReference": "$['results']"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResourceRickyandMorty",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json_weboutputDes",
									"type": "DatasetReference",
									"parameters": {
										"name": {
											"value": "@concat(item(),'s.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DataflowSilver",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyFromAPI2BlobBronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow_silver_jsonSRC",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"fname": {
												"value": "@concat(item(),'s.json')",
												"type": "Expression"
											}
										},
										"sink1": {
											"tbname": {
												"value": "@concat(item(),'s')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Links": {
				"type": "array",
				"defaultValue": [
					"character",
					"location"
				]
			}
		},
		"annotations": []
	}
}