pipeline/Lastupdatefilepipeline.json
{
	"name": "Lastupdatefilepipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "empfolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetMetadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "empfilefrmadls",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetMetadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('GetMetadata2').output.lastModified,variables('ReferenceDate'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "UpdateRefrencedate",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "ReferenceDate",
											"value": {
												"value": "@activity('GetMetadata2').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SetLastFile",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "UpdateRefrencedate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "pipelineReturnValue",
											"value": [
												{
													"key": "file",
													"value": {
														"type": "Expression",
														"content": "@activity('GetMetadata2').output.itemName"
													}
												}
											],
											"setSystemVariable": true
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"LastFile": {
				"type": "String"
			},
			"ReferenceDate": {
				"type": "String",
				"defaultValue": "\"2000-01-01T00:00:00Z\""
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-08T08:26:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}